<!DOCTYPE html>
<html>
<head>
  <title>ClassRoom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
